<nav class="bg-blue-600 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <%= link_to "ChatApp", root_path, class: "text-xl font-bold" %>
    
    <div class="flex items-center space-x-4">
      <% if user_signed_in? %>
        <span>Hello, <%= current_user.name %></span>
        <%= link_to "Edit Profile", edit_user_registration_path, class: "hover:underline" %>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "hover:underline" %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "hover:underline" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "hover:underline" %>
      <% end %>
    </div>
  </div>
</nav>